* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: #000;
}
body a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
}

#navbar {
  width: 100%;
  height: auto;
}
#navbar .container {
  width: 100%;
  height: auto;
}
#navbar .container .nav-area {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1019607843);
  height: 65px;
}
#navbar .container .nav-area .nav {
  display: flex;
  gap: 40px;
  list-style: none;
  align-items: center;
}
#navbar .container .nav-area .nav li a {
  transition: 0.7s;
}
#navbar .container .nav-area .nav li a:hover {
  color: #FDB827;
  transition: 0.7s;
  cursor: pointer;
}

.active {
  position: relative;
}
.active::before {
  position: absolute;
  left: -11px;
  top: 6px;
  content: "";
  width: 5px;
  height: 5px;
  border: 1px solid #FDB827;
  background-color: #FDB827;
  border-radius: 50%;
}

#main {
  width: 100%;
  height: 770px;
  position: relative;
}
#main .container {
  width: 100%;
  height: auto;
  padding: 60px 70px;
}
#main .container .main--all {
  display: flex;
  align-items: center;
}
#main .container .main--all .main_img {
  width: 30%;
  position: relative;
  left: 132px;
  top: -72px;
  z-index: -1;
}
#main .container .main--all .main_img img {
  width: 100%;
  height: auto;
}
#main .container .main--all .content--all {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  margin-top: 89px;
}
#main .container .main--all .content--all .main_content .text_one {
  font-size: 64px;
  text-align: center;
  color: #fff;
  font-weight: 900;
}
#main .container .main--all .content--all .lorem_text {
  color: #fff;
  text-align: center;
}
#main .container .main--all .content--all .image_second {
  width: 25%;
  height: auto;
  position: absolute;
  right: 12%;
  bottom: -24px;
  z-index: -1;
}
#main .container .main--all .content--all .image_second img {
  width: 100%;
  height: auto;
}

#footer {
  width: 100%;
  height: 35px;
}
#footer .container {
  width: 100%;
  height: auto;
  padding: 0px 30px;
}
#footer .container .footer--all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .container .footer--all .footer_text {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}
#footer .container .footer--all .footer_icons {
  display: flex;
  gap: 17px;
  width: 20%;
}
#footer .container .footer--all .footer_icons img {
  width: 24px;
  height: auto;
  transition: 0.7s;
}
#footer .container .footer--all .footer_icons img:hover {
  cursor: pointer;
  background-color: #FDB827;
  transition: 0.7s;
  border: 1px solid #FDB827;
  border-radius: 50%;
}
#footer .container .footer--all .footer_source {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  transition: 0.7s;
}
#footer .container .footer--all .footer_source:hover {
  cursor: pointer;
  color: #FDB827;
  transition: 0.7s;
}

.main_buttons .about_button {
  width: 113px;
  height: 49px;
  border: 1px solid #FDB827;
  background-color: #FDB827;
  color: #fff;
  border-radius: 8px;
  transition: 0.7s;
}
.main_buttons .about_button:hover {
  border: 1px solid #0f0f0f;
  background-color: #0f0f0f;
  color: #FDB827;
  cursor: pointer;
  transition: 0.7s;
}
.main_buttons .portfolios_button {
  width: 198px;
  height: 49px;
  border-radius: 8px;
  border: 1px solid #0f0f0f;
  background-color: #0f0f0f;
  color: #fff;
  margin-left: 11px;
  transition: 0.7s;
}
.main_buttons .portfolios_button:hover {
  border: 1px solid #FDB827;
  background-color: #FDB827;
  color: #0f0f0f;
  cursor: pointer;
  transition: 0.7s;
}/*# sourceMappingURL=main.css.map */