@import "../abstract/variable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: $bg-color;
  a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
  }
}
main{
  #journey {
    width: 100%;
    height: auto;
    .container {
      width: 100%;
      height: auto;
      color: #fff;
      display: flex;
      .journey--all {
        display: flex;
        width: 80%;
  
        .journey-row {
          padding: 40px 82px;
          .imgText {
            display: flex;
            gap: 37px;
            margin-bottom: 20px;
            .journey_img {
              width: 25%;
              img {
                width: 100%;
                height: auto;
              }
            }
            .journey_head {
              margin-left: 70px;
              display: flex;
              flex-direction: column;
              gap: 40px;
              .journey_text {
                font-weight: 700;
                font-size: 50px;
                line-height: 62px;
              }
  
              .journey_lorem {
                line-height: 21px;
                margin-top: 35px;
                color: rgba(255, 255, 255, 0.45);
              }
            }
          }
        }
      }
  
      .journey--time {
        width: 20%;
        background-color: #0e0e10;
        margin-bottom: 40px;
        .time-row {
          padding: 40px 25px;
          .time {
            margin-bottom: 22px;
            font-size: 26px;
            font-weight: 700;
          }
          .dropdown {
            position: relative;
            user-select: none;
            .dropdown-btn {
              background-color: #0e0e10;
              font-weight: bold;
              padding: 12px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 250px;
              height: 55px;
              border: 1px solid white;
              border-radius: 8px;
              cursor: pointer;
              transition: all 0.2s;
            }
       
          }
  
          .time_comment {
            margin-top: 22px;
            .comment_box {
              width: 253px;
              border: 1px solid white;
              height: 112px;
              padding: 13px 18px;
              background-color:#FDB8270D ;
              border-radius: 9px;
            }
          }
        }
      }
    }
  }
}

