*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: "Inter", sans-serif;
    background-color: #000;
    a{
        text-decoration: none;
        color:#fff;
        font-size: 17px;
        font-weight: 700;
    }
}

#navbar{
    width: 100%;
    height: auto;

    .container{
        width: 100%;
        height: auto;

        .nav-area{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:  #FFFFFF1A;
        
            height: 65px;
            .nav{
                display: flex;
                gap: 40px;
                list-style: none;
                li{
                    a{
                        transition: 0.7s;
                        &:hover{
                            color:#FDB827;
                            transition: 0.7s;
                            cursor: pointer;
                        }
                    }
                }
                .home{
                    position: relative;

                    &::before{
                        position: absolute;
                        left: -11px;
                        top: 6px;
                        content: "";
                        width: 5px;
                        height: 5px;
                        border: 1px solid #FDB827;
                        background-color: #FDB827;
                        border-radius: 50%;
                    }
                }

               
            }
        }
    }
}

#main{
    width: 100%;
    height: 688px;
    position: relative;
    .container{
        width: 100%;
        height: auto;
        padding: 60px 70px;
       
       
            .main--all{
                display: flex;
                align-items: center;
                
                .main_img{
                    width: 30%;
                    position: relative;
                    left: 132px;
                    top: -64px;
                    z-index: -1;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                .content--all{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 50px;
                    margin-top: 89px;
               
                    .main_content{
                        .text_one{
                            font-size: 64px;
                            text-align: center;
                            color: #fff;
                            font-weight: 900;
                           
                        }
                  
                    }
                    .lorem_text{
                        color: #fff;
                        text-align: center;
                        
                       
                  
                    }

                 
                    .image_second{
                        width: 25%;
                        height: auto;
                        position: absolute;
                        right: 12%;
                        bottom: -24px;
                        z-index: -1;
                        img{
                            width: 100%;
                            height: auto;
                        }
                     }
                }
            }
        
    }
}

#footer{
    width: 100%;
    height: 35px;
    .container{
        width: 100%;
        height: auto;
        padding: 0px 30px;
        .footer--all{
            display: flex;
            justify-content: space-between; 
            align-items: center;
            .footer_text{
                color:#fff;
                font-size: 15px;
                font-weight: 400;
            
            }
            .footer_icons{
                display: flex;
                gap: 17px;
                width: 20%;
                
                img{
                    width: 24px;
                    height: auto;
                    transition: 0.7s;
                    &:hover{
                        cursor: pointer;
                        background-color: #FDB827;
                        transition: 0.7s;
                        border:1px solid #FDB827;
                        border-radius: 50%;
                     
                    }
                }
            }
            .footer_source{
                color: #fff;
                font-size: 15px;
                font-weight: 400;
            }
        }
    }
}



.main_buttons{
                
    .about_button{
        width: 113px;
        height: 49px;
        border:1px solid #FDB827;
        background-color: #FDB827;
        color:#fff;
        border-radius: 8px;
        transition: 0.7s;
        &:hover{
            border:1px solid #0f0f0f;
            background-color: #0f0f0f;
            color:#FDB827;
            cursor: pointer;
            transition: 0.7s;
        }
    }
    .portfolios_button{
        width: 198px;
        height: 49px;
        border-radius: 8px;
        border:1px solid #0f0f0f;
        background-color: #0f0f0f;
        color: #fff;
        margin-left: 11px;
        transition: 0.7s;
        &:hover{
            border:1px solid #FDB827;
            background-color: #FDB827;
            color:#0f0f0f;
            cursor: pointer;
            transition: 0.7s;
        }
    }
 }